# Ignore .env file in student-project-tracker
*.env

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
Cloud_Native_env/
.venv/

# AWS and deployment credentials
.aws/
Dockerrun.aws.json
.elasticbeanstalk/

# Ignore vault secret YAML file
4.0 - Deploy to K8s/vault-secret.yaml
